<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
<title>faceful - my smart photo gallery</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="static/assets/css/main.css" />
<!-- Pre-defined Scripts -->
<script src="static/assets/js/jquery.min.js"></script>
<script src="static/assets/js/skel.min.js"></script>
<script src="static/assets/js/util.js"></script>
<script src="static/assets/js/main.js"></script>
<script src="static/assets/js/gallery.js"></script>
<!--  My Scripts -->
<script type="text/javascript">
/*
 * Fetch more photos on demand.
 */
function fetchMore() {
	if ($(window).scrollTop() >= $(document).height() - $(window).height() - 300) {
		$(window).unbind('scroll', fetchMore);
		$.post('/getmorephotos', { path_id : "{{ path_id }}" }, function(data) {
			$(data).insertBefore($('#placeHolder'));
			$(window).bind('scroll', fetchMore);
		});
	}
}
$(document).ready(function() {
	$(window).bind('scroll', fetchMore);
});
</script>
</head>
<body onload="init()">

	<!-- Header -->
	<header id="header" class="preview">
		<div class="inner">
			<button onclick="goHome()" class="info fa fa-home"></button>
		</div>

		<div class="inner">
			<button onclick="showSearch()" class="info fa fa-search"></button>
		</div>

		<div class="inner">
			<button onclick="showSettings()" class="info fa fa-cog"></button>
		</div>
		
		<div class="inner">
			<button onclick="showAi()" class="info fa fa-user-secret"></button>
		</div>
	</header>

	<!-- Main -->
	<div id="main">
		<div class="inner">
			<br /> <br />
			<div id="search" hidden="true">
				<form action="/search" method="post">
					<input type="text" name="query" id="query" /> 
					<input class="redbutton" type="submit" value="Search in photos" />
				</form>
			</div>
			<div class="title-box">
				<h1><b>{{ entity_name }}</b><i>({{ entities|length }} files)</i></h1>
			</div>
			<div class="columns">
				{% if entities|length == 0 %}
				<h1>No photos found!</h1>
				{% endif %}
				{% for entity in entities %}
				{% if entity.is_dir %}
				<div class="folder">
					<img src="static/img/icon_folder_fill_orange_128px.png" />
					<br/>
					<a href="/?path_id={{ entity.db_id }}">{{ entity.name }}</a>
				</div>
				{% endif %} 
				{% endfor %} 
				{% for entity in entities %}
				{% if loop.index <= maxfetch %} 
				{% if entity.is_video %}
				<div class="image fit">
					<a href="/detail?path_id={{ entity.db_id }}"><img
						src="static/img/icon_video_red_512px.png" alt="{{ entity.name }}" /></a>
				</div>
				{% elif not entity.is_dir %}
				<div class="image fit">
					<a href="/detail?path_id={{ entity.db_id }}"><img
						src="/thumbnail?path_id={{ entity.db_id }}&w=400"
						alt="{{ entity.name }}" /></a>
				</div>
				{% endif %} 
				{% endif %} 
				{% endfor %}
				<div id="placeHolder"></div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer id="footer">
		<a href="#" class="info fa fa-info-circle"><span>About</span></a>
		<div class="inner">
			<div class="content">
				<h3>faceful - A Smart Photo Gallery with Object and Face Recognition</h3>
				<p>This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.</p>

				<p>This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.</p>
			</div>
			<div class="copyright">
				<h3>Follow us</h3>
				<ul class="icons">
					<li><a href="https://github.com/makerlala" class="icon fa-github"><span
							class="label">Github</span></a></li>
					<li><a href="http://makerlala.com/" class="icon fa-globe"><span
							class="label">Web</span></a></li>
					<li><a href="http://makerlala.com/blog" class="icon fa-wordpress"><span
							class="label">Blog</span></a></li>
				</ul>
				Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a
					href="https://unsplash.com/">Unsplash</a>.
				<div>
					Icons made by <a
						href="https://www.flaticon.com/authors/gregor-cresnar"
						title="Gregor Cresnar">Gregor Cresnar</a> from <a
						href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
					is licensed by <a
						href="http://creativecommons.org/licenses/by/3.0/"
						title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
