photos path = TBD
project path = TBD
fresh = True
max photo fetch = 20
face classifier training threshold = 10
facedet host = 127.0.0.1
facedet port = 8888
facenet src = facenet/src
facenet model = models/20170512-110547/20170512-110547.pb
facenet classifier = models/lfw_classifier-20170512-110547.pkl
facenet classifier images = models/lfw/lfw_mtcnnpy_160
facenet classifier train image size = 160
facenet classifier train batch size = 100
tensorflow models src = tensorflow/models/research
tensorflow object detection model = models/ssd_mobilenet_v1_coco_2017_11_17/frozen_inference_graph.pb
tensorflow object detection labels = tensorflow/models/research/object_detection/data/mscoco_label_map.pbtxt
facedet model = tensorflow-face-detection/model/frozen_inference_graph_face.pb
facedet labels = tensorflow-face-detection/protos/face_label_map.pbtxt
info = False
debug = False
